/*left ancherpane */
.gradient{
    -fx-background-color: linear-gradient(to bottom right, #4E65FF, #00CDAC);
}

/*right ancherpane */
.white-form{
    -fx-background-color: #fff;
}

/* login account */
.head-label{
    -fx-border-color: #00CDAC;
     -fx-border-width: 0 0 0 3px;
       -fx-padding: 0 0 0 5px;

}

/*login button */

.login-btn{
     -fx-background-color: linear-gradient(to bottom right, #4E65FF, #00CDAC);
     -fx-background-radius: 5px;
      -fx-cursor: hand;
       -fx-text-fill: #fff;
        -fx-font-size: 14px;

}

.login-btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #00CDAC, #4E65FF);
}

.textfield{
    -fx-background-color: transparent;
     -fx-border-color: linear-gradient(to bottom right, #4E65FF, #00CDAC);
      -fx-border-width: 1.2px;
}


.textfield:focused{

      -fx-border-width: 1px;
}

.create-btn{
      -fx-background-color: transparent;
       -fx-cursor: hand;
        -fx-text-fill: #fff;
         -fx-border-width: 1px;
         -fx-border-color: #fff;

}

.create-btn:hover{
     -fx-background-color: #fff;
     -fx-text-fill: #000;

}